.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.github/**
test-examples/**
node_modules/@types/**
*.vsix
.mocharc.json
coverage/**
.nyc_output/**
debug_*.js
test_*.js
.dev-docs/**
